@CHARSET "UTF-8";

body {
	background: #EEFFEE;
	margin: 30px;
}

h1 {
	background: #8888FF;
}

h2 {
	background: #AAAAFF;
}

table {
	margin-left: auto;
	margin-right: auto;
}

th {
	background: #AABBBB;
}

.chart {
	text-align: center;
}

.function {
	white-space: nowrap
}

.flatTable {
  border: 1px solid black;
  border-collapse: collapse;
}
.flatTable td, .flatTable th {
  border: 1px solid black;
  padding: 5px;
}
#functions td:first-child,
#functions td:nth-child(2)
{
  white-space: nowrap;
}
